.header {
  display: flex;
  color: white;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: solid 2px #b4b4c6;
  background-color: #646cff;
}
