.header {
  display: flex;
  min-width: 288px;
  color: white;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: solid 2px #b4b4c6;
  background-color: #646cff;
}
@media screen and (min-width: 375px) {
  .header {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  /* .section {
    padding: 32px 0;
  } */
  .header {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  /* .section {
    padding: 48px 0;
  } */
  .header {
    max-width: 1440px;
    padding: 0 32px;
  }
}
