.link {
  display: block;
  background-color: transparent;
  padding: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  color: inherit;
  transition: all 0.3s;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  transition: background-color 300ms ease;
}

.link:hover,
.link:focus {
  background-color: white;
}
.active {
  color: black;
  text-decoration: underline;
}

.nav {
  display: inline-flex;
  padding-left: 15px;
  padding-right: 15px;
}
