.icon {
  height: 100px;
  width: 100px;
  color: #646cff;
  margin: 0 auto;
}

.container {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  color: #333;
  padding: 40px 20px;
  text-align: center;
}

.homepage h1 {
  font-size: 36px;
  color: #646cff;
  margin-bottom: 20px;
}

.homepage p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}
